<div class="container">
    <div class="row">
      <div class="col" *ngFor="let item of events" >
        <div class="card" >
          <div class="card-body">
            <h3 class="card-title">Title</h3>
            <p class="card-text">{{item.a}}</p>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- <div class="card" *ngFor="let item of events">
    <img class="card-img-top" data-src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRBgsEHVKZpdFyIt874xuk88z3Wg0OhqzIbZA&usqp=CAU" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">{{item.a}}</h4>
        <p class="card-text">Text</p>
    </div>
    
</div> -->