

<div class="container">
  <div class="row">

      <!-- <div class="row mb-2"> -->
        <div class="col-md-3" *ngFor="let item of events">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-10 position-relative">
            <div class="col-auto d-none d-lg-block">
              <img  class="bd-placeholder-img" width="110" height="250" src="https://live.staticflickr.com/4561/38054606355_26429c884f_b.jpg" alt="">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <!-- <strong class="d-inline-block mb-2 text-primary">{{item.a}}</strong> -->
              <h3 class="mb-0">{{item.name}}</h3>
              <div class="mb-1 text-muted">{{item.date}}</div>
              <p>Seats Available: {{item.seats}}</p>   
              <button class="btn" (click)="buttonclicked(item._id)">
                      <span class="badge badge-primary"> Book Seat</span>
              </button>           
            </div>
            
          </div>
        <!-- </div> -->
        
      
    </div>

  </div>

